@page "/"

<PageTitle>Moogle!</PageTitle>
<h1>🔍 Moogle!</h1>

<input class="p-1 my-4 input-search" @bind="query" @bind:event="oninput" @onkeydown="PushEnter" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisite decir <a href="#" @onclick="RunSuggestion"><strong>@result.Suggestion</strong></a>?</p>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <a href=@item.LinkFile class="title" target="__blank"><strong>@item.Title</strong></a>
            <p>... @((MarkupString)item.Snippet) ...</p>
            @if( !string.IsNullOrEmpty(item.MissingWords) ){
                <p><strong>No aparece: </strong>@((MarkupString)item.MissingWords)</p>
            }
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        result = Moogle.Query(query);
    }

    private void RunSuggestion() {
        query = result.Suggestion;
        result = Moogle.Query( query );
    }

    private void PushEnter(KeyboardEventArgs e) {
        if(e.Code == "Enter")
            RunQuery();
    }
}

@* Styles CSS *@
<style>
.results li{
    list-style: none;
}

.item {
    background-color: rgb(202, 223, 242);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 10px;
}

.item .title {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(45, 45, 247);
    background-color: rgb(129, 129, 236);
    margin-bottom: 10px;
}

.item .title:hover {
    color: rgb(10, 10, 146);
    background-color: rgb(86, 86, 243);
    cursor: pointer;
}

.input-search:focus{
    outline: 3px solid rgb(73, 171, 236);
    border: 2px solid #fff;
}

.item :nth-child(3) {
    text-align: left;
    padding-left: 20px;
}

.suggestion{
    cursor:pointer;
}



</style>