.results {
    text-align: center;
}

.results li{
    list-style: none;
}

.item {
    background-color: rgb(202, 223, 242);
    border-radius: 10px;
    border: 1px solid #000;
    margin: 10px;
    padding: 20px 10px;
}

.item .title {
    background-color: rgb(129, 129, 236);
    color: rgb(45, 45, 247);
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.item .title:hover {
    background-color: rgb(86, 86, 243);
    color: rgb(10, 10, 146);
    cursor: pointer;
}



.home-search {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 480px;
}

.input-search {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border: 1px solid black;
    padding: 6px !important;
    width: 480px;
}

.input-search:focus{
    outline: none;
}
.btn-search {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid black;
    padding: 2px;
}

.btn-search .search-icon {
    height: 32px;
    text-align: left;
    width: 32px;
}

.btn-remove-search {
    background-color: transparent;
    border: none;
    font-weight: bold;
    margin-left: -50px;
    padding: 5px 6px;
    z-index: 50;
}

.item :nth-child(3) {
    padding-left: 20px;
    text-align: left;
}

.suggestion{
    cursor:pointer;
}

.no-results h5{
    font-size: 23px;
    font-weight: bold;
}