@page "/"

<PageTitle>Moogle!</PageTitle>
<h1>🔍 Moogle!</h1>

<div class="home-search">
    <input class="p-1 my-4 input-search" @bind="query" @bind:event="oninput" @onkeydown="PushEnter" placeholder="Introduzca su búsqueda"></input>

    @if(query == "") {
        <button type="default" class="btn-remove-search" @onclick="RemoveSearch" style="visibility: hidden">⨯</button>
    } else {
        <button type="default" class="btn-remove-search" @onclick="RemoveSearch" style="visibility: visible">⨯</button>
    }

    <button type="default" class="btn-search" @onclick="RunQuery">
        <img class="search-icon" src="/Search.jpg">
    </button>
</div>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisite decir <a href="#" @onclick="RunSuggestion"><strong>@result.Suggestion</strong></a>?</p>
    </div>
}

<ul class="results">
@if(result.Count != 0) {
    foreach (var item in result.Items()) {
        <li>
            <div class="item">
                <a href= "/Content/@item.Title" class="title" target="__blank"><strong>@item.Title</strong></a>
                <p>... @((MarkupString)item.Snippet) ...</p>
                @if( !string.IsNullOrEmpty(item.MissingWords) ){
                    <p><strong>No aparece: </strong>@((MarkupString)item.MissingWords)</p>
                }
            </div>
        </li>
    }
} else {
    <div class="no-results">
        <img src="/No_Results.jpg" width="350px" height="350px">
        <h5>La busqueda no ha dado resultados😢!!</h5>
    </div>
}

</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        if( string.IsNullOrEmpty(query) ) 
            return;
        result = Moogle.Query(query);
    }

    private void RunSuggestion() {
        query = result.Suggestion;
        result = Moogle.Query( query );
    }

    private void PushEnter(KeyboardEventArgs e) {
        if(e.Code == "Enter")
            RunQuery();
    }

    private void RemoveSearch() {
        query = "";
    }
}
<style>
button[class="btn"] {
    margin-left: -50px !important;
    display: relative;
    z-index: 50;
}

</style>