@page "/Content/{Path}"

<PageTitle>@Path</PageTitle>

<h1>@Path</h1>


<p>@((MarkupString)ShowDocument.ShowDoc( $"../Content/{Path}.txt" ))</p>

<div>
<button>Prev</button>
<input type="number" name="paguinador" id="">
<button>Post</button>
</div>

@code {
    [Parameter]
   public string? Path {get; set;}
}