@page "/Content/{NameDoc}"

<PageTitle>@NameDoc</PageTitle>

<h1>@NameDoc</h1>

<p>@((MarkupString)ShowDocument.ShowDoc($"../Content/{NameDoc}.txt"))</p>

@code {
    [Parameter]
   public string? NameDoc {get; set;}
}



<style>

.top-pages{
    display: flex;
    justify-content: center;
}
.pages {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

</style>